@media screen and (min-width: 768px)  and (max-width: 1024px){
	body  {
		.container {
			.home-page-contact {
				width: 50%;
				margin-left: 25%;
			}
			.heading {
				.heading-logo {
					width: 9%;
					margin: 2.5% 0 2.5% 45.5%;
				}
				.ham-but {
					margin: 6% 25px 0 0;
				}
			}
			.vm {
				margin-left: 10%;
			}

	/*navigatin bar*/
			.nav-bar {
				.nav-line {
					width: 19.5%;
					img {
						width: 25%;
					}
				}
			}

	/*landing page letters*/

			.content {

	/*lasnding page content*/
				.home-page-content {
					.name {
						font: 400 5rem 'Roboto Mono', monospace;
					}
					.name-2 {
						font: 400 5rem 'Roboto Mono', monospace;
					}

					.last-name {
						font: 400 5rem 'Roboto Mono', monospace;
					}
					.last-name-2 {
						font: 400 5rem 'Roboto Mono', monospace;
					}

					.web-developer {
						font: 400 4rem 'Roboto Mono', monospace;
					}
					.web-developer-2 {
						font: 400 4rem 'Roboto Mono', monospace;
					}
					.flashing {
						font: 400 5rem 'Roboto Mono', monospace;
					}
				}

				.page-title {
					font: 200 3rem 'Roboto Mono', monospace;
					margin: 5% 0 0 5%;
				}

				/*about page content*/
				.about-page {
					.about-first-paragraph, .about-second-paragraph, .about-third-paragraph {
						font: 200 1.5rem 'Roboto Mono', monospace;
					}
				}
				/*skills page content*/
				.skills-page {
					.skills-first-paragraph, .skills-second-paragraph, .skills-third-paragraph {
						font: 200 1.5rem 'Roboto Mono', monospace;
					}
					.skills-icons-wrap {
						width: 100%;
					}
				}
				/*my work page content*/
				.my-work-page {
					.blomm, .nice, {
						width: 100%;
						transition: 1s;
					}
					.blomm {
						margin: 10% 0 0 -100%;
						img {
							width: 40%;
						}
					}
					.nice {
						margin: 10% 0 0 105%;
						img {
							width: 60%;
						}
					}
				}
				/*contact page content*/
				.contact-page {
					.contact-first-paragraph, .contact-second-paragraph {
						font: 200 1.5rem 'Roboto Mono', monospace;
					}
					.email, .tel, .link, .insta {
						p {
							font: 200 1.2rem 'Roboto Mono', monospace;

						}
					}
				}
			}
			

		}
	}
}